<h1>Clips</h1>

<%= link_to 'Ajouter un clip', new_clip_path %>

<% if @clips.present? %>
  <% @clips.each do |clip| %>
    <div>
      <h2 class="clip-title"><%= clip.title %></h2>
      <div>
        <p>Posté par : <span class="username"><%= clip.user.username %></span></p>
      </div>
      
      <% if clip.video.attached? %>
        <video controls>
          <source src="<%= url_for(clip.video) %>" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      <% else %>
        <p>Aucune vidéo attachée</p>
      <% end %>

      <h3>Commentaires :</h3>
      <% clip.comments.each do |comment| %>
        <p><%= comment.content %> - <%= comment.user.username %></p>
      <% end %>

      <%= form_with(model: [clip, Comment.new], local: true) do |form| %>
        <%= form.text_area :content, placeholder: "Laisse un commentaire..." %>
        <%= form.submit "Commenter" %>
      <% end %>

      <!-- Lien pour modifier et supprimer seulement si le clip appartient à l'utilisateur actuel -->
      <% if clip.user == current_user %>
        <%= link_to 'Modifier', edit_clip_path(clip) %> |
        <%= link_to 'Supprimer', clip_path(clip), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce clip ?' } %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>Aucun clip disponible.</p>
<% end %>
