<p style="color: green"><%= notice %></p>

<%= render @clip %>

<% if @clip.video.attached? %>
  <video controls width="640">
    <source src="<%= url_for(@clip.video) %>" type="video/mp4">
    Votre navigateur ne supporte pas la lecture de vidéo.
  </video>
<% else %>
  <p>Aucune vidéo disponible.</p>
<% end %>

<div>
  <%= link_to "Back to clips", clips_path %>
</div>

<% if @clip.user == current_user %>
  <div>
    <%= link_to "Edit this clip", edit_clip_path(@clip), class: "btn btn-primary" %>
    <%= button_to "Destroy this clip", @clip, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
<% end %>
